.bg
{
    padding: 10px;
background-color: #393E46;
height: 100%;
}
.img-chart{
  height: 300px;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.card-c
{
    border-color: green;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.text-form
{
    font-family: Roboto;
    font-weight: bold;
    color: #FFA27F;
}
.btn-cal{
    background-color: #FF0000;
    color: whitesmoke;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    border-width: 0px;
    font-family: Roboto;
}
.placeholder
{
    border-radius: 10px;
    border-color: #97BE5A;
    border-width: 2px;
    height: 35px;
    text-align: end;
    padding: 10px;
    border-style: ridge;
    color: #00ADB5;
}
.heading{
    font-size: 30px;
    font-family: Roboto;
    color: #00ADB5;
    font-weight: bolder;

}
.result{
    color: #00ADB5;
    font-family: Roboto;
    font-size: 20px;
}
